.critical
  color: rgb(199, 22, 30)

.critical-bg
  background-color: rgb(199, 22, 30)

.high
  color: rgb(240, 140, 17)

.high-bg
  background-color: rgb(240, 140, 17)

.medium
  color: rgb(244, 207, 0)

.medium-bg
  background-color: rgb(244, 207, 0)

.low
  color: rgb(0, 160, 60)

.low-bg
  background-color: rgb(0, 160, 60)

.info
  color: rgb(41, 70, 128)

.info-bg
  background-color: rgb(41, 70, 128)
